language: php
sudo: false
cache:
  directories:
    - vendor
    - $HOME/.composer/cache
php:
  - 5.5
  - 5.6
  - 7.0

matrix:
  include:
    - php: 5.5
      env: COMPOSER_FLAGS='--prefer-lowest --prefer-stable'

before_script:
  - pecl install xmldiff
  - echo "xdebug.max_nesting_level=1000" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - if [[ $TRAVIS_PHP_VERSION = '5.6' ]]; then PHPUNIT_FLAGS="--coverage-clover=coverage.clover"; else PHPUNIT_FLAGS=""; fi
  - if [[ $TRAVIS_PHP_VERSION != '5.6' ]]; then phpenv config-rm xdebug.ini; fi  
  - composer self-update
  - composer update $COMPOSER_FLAGS

script:
  - vendor/phpunit/phpunit/phpunit $PHPUNIT_FLAGS
  - mkdir ota
  - bin/xsd2php xsd2php:convert:jms tests/JmsSerializer/OTA/otaxml/OTA_AirAvailRQ.xsd --ns-map='http://www.opentravel.org/OTA/2003/05;OTA/' --ns-dest='OTA/;ota' --alias-map='http://www.opentravel.org/OTA/2003/05;CustomOTADateTimeFormat;CustomDateClass' -vv
  - bin/xsd2php xsd2php:convert:php tests/JmsSerializer/OTA/otaxml/OTA_AirAvailRQ.xsd --ns-map='http://www.opentravel.org/OTA/2003/05;OTA/' --ns-dest='OTA/;ota' --alias-map='http://www.opentravel.org/OTA/2003/05;CustomOTADateTimeFormat;CustomDateClass' -vv

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - if [[ $TRAVIS_PHP_VERSION = '5.6' ]] ; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
  
